


<div class="d-flex-col" style="border: 1px solid black; width: 170px; height: 540px; margin: auto; border-radius: 10px; box-shadow: 0 1px 10px 0; background-color: black;">
  <div class="demo-block" style=" height: 150px;width: 150px; text-align: center; margin-left: 10px; box-shadow: 0 1px 10px 0 red;margin-top: 20px" [appRoundBlack]="'30px'"></div>

<div class="demo-black" style=" height: 150px;width: 150px; text-align: center;margin-left: 10px;box-shadow: 0 1px 10px 0 yellow; margin-top: 20px;" [appRoundBlick]="'30px'"></div>

<div class="demo-blick" style=" height: 150px;width: 150px; text-align: center;margin-left: 10px;box-shadow: 0 1px 10px 0 green;margin-top: 20px" [appRoundBlock]="'30px'"></div>
</div>
<div style="height: 360px;width: 50px; border: 1px solid black;margin: auto;box-shadow: 0 1px 10px 0; border-top: none;border-bottom-left-radius: 10px;border-bottom-right-radius:10px; background-color: goldenrod; ">

</div>